article {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

article>h2 {
    margin-top: 70px;
    text-align: center;
}

article .box {
    margin-top: 70px;
}

article .box h2 {
    font-size: 24px;
    padding: 30px 10px;
    border-bottom: 1px solid #ccc;
}

article .comic {
    margin-top: 30px;
    background: rgba(204, 204, 204, 0.534);
    border-radius: 10px;
    padding: 10px 0;
}

article .comic1 {
    background: rgba(161, 173, 63, 0.281);
}

article .comic h3 {
    margin-top: 30px;
    font-size: 19px;
    text-align: center;
}

article .comic img {
    width: 99%;
    height: auto;
    margin-top: 20px;
    /* margin: 0 auto; */
    border-radius: 10px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid rgba(163, 161, 161, 0.63);
    border-bottom: 3px solid rgba(163, 161, 161, 0.521);
}

article .comic h4 {
    margin: 10px;
    font-size: 18px;
}

article .comic p {
    text-indent: 2em;
    margin: 20px;
    font-size: 16px;
}

article .comic span {
    float: right;
    padding: 5px 10px;
    margin-right: 40px;
}

article .comic span a {
     color: #000;
}

article .comic span:hover {
    background: rgb(165, 162, 162);
    padding: 5px 10px;
    border-radius: 10px;
}

article .comic span a:hover {
     color: #fff;
}

@media (min-width: 768px) {

    article h2 {
        font-size: 25px;
    }

    article>h2 {
        
        font-size: 25px;
    }

    article .comic h3 {
        font-size: 21px;
    }

    article .comic img {
        margin-left: 20px;
        width: 40%;
        float: left;
    }


    article .comic .cox {
        float: left;
        width: 56%;
        margin: 60px 10px;
    }

    article .comic .cox span {
        margin-top: 30px;
        font-size: 16px;
    }
}

.ssa {
   
    margin: 0 auto;
     margin-top: 70px;
    text-align: center;
    max-width: 1200px;
    font-size: 20px;
}